#footer {
    display: flex;
    align-items: center;
    height: 10vh;
    background: linear-gradient(0deg, rgb(40,80,80), rgb(40,130,130));
    padding: 16px;
    > * {
        align-items: center;
    }
}